# Node modules
node_modules/

# Entorno de desarrollo de VSCode
.vscode/

# Archivos de entorno
.env
src/api/.env

# Archivos del Live Server
*.log

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos de dependencias específicos por subcarpetas
src/api/node_modules/

# Archivos temporales
*.tmp
*.swp

# Build o distribuciones
dist/
build/

# Otros archivos o carpetas personalizadas que quieras ignorar
# /src/public/vendor/ (si agregas dependencias descargadas)
