body {
    background-color: #f8f9fa;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

/* Barra de navegación */
.navbar {
    padding: 1rem;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-collapse {
    align-items: center;
    justify-content: space-between;
}

.navbar-brand {
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    font-size: 1.4rem;
}

.navbar-brand i {
    color: #433b3b;
    margin-right: 0.3rem;
}

.btn-danger.rounded-pill {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

/* Estilos para los encabezados dentro del contenedor */
.container h2 {
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    text-align: center;
}

.container h5 {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    text-align: center;
}

/* Estilos para las etiquetas label dentro del contenedor */
.container label {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

/* Estilos para inputs de tipo date y botones dentro del contenedor */
.container input[type="date"],
.container button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

/* Contenedor para formularios */
.form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Efecto hover para las tarjetas */
.card:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    transition: box-shadow 0.3s ease-in-out;
}

/* Estilos para la alerta de error */
.alert-danger {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    color: #842029;
}

/* Media queries para adaptabilidad */
@media screen and (max-width: 767px) {
    .navbar-brand {
        display: none;
        /* Escondemos el logo en pantallas pequeñas */
    }

    .container input[type="date"] {
        max-width: 250px;
        text-align: center;
    }

    /* Estilos para el formulario */
    .form-wrapper form {
        width: 100%;
    }
}