/* Estilos del body */

body {
    background-color: #f8f9fa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Estilos del contenedor de registro de usuarios */

.registro-container {
    background: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

/* Estilos del texto con gradiente */

.text-gradient {
    background: linear-gradient(to right, black, red, #eeba0b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}

/* Estilos para el encabezado h3 dentro del contenedor de registro */

.registro-container h3 {
    font-family: 'Roboto Slab', serif;
    font-weight: 800;
}

/* Estilos para las etiquetas (labels) dentro del contenedor de registro y para los elementos p */

.registro-container label,
p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

/* Estilos para los campos de texto (input type="text"), contraseñas (input type="password") y 
botones dentro del contenedor de registro */

.registro-container input[type="text"],
.registro-container input[type="password"],
.registro-container button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

/* Estilos del texto del grupo de entrada */

.input-group-text {
    background: none;
    border-right: none;
}

/* Estilos del control de formulario */

.form-control {
    border-left: none;
}

/* Estilos de los iconos */

i {
    font-size: 1.2rem;
}

/* Estilos del botón de envío */

button[type="submit"] {
    width: 100%;
}

/* Estilos base para los elementos alert de Bootstrap */

.alert {
    font-family: 'Open Sans', sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 500;
    letter-spacing: 0.05em;
}

/* Estilos específicos para la alerta de éxito */

.alert-success {
    color: #155724;
}

/* Estilos específicos para la alerta de error */

.alert-danger {
    color: #842029;
}